a {
  text-decoration: none;
  color: rgb(236, 236, 236);
}

body {
  overscroll-behavior-y: none;
  overflow-x: hidden;
  /* background-image: repeating-linear-gradient(140deg, rgb(109, 97, 168), #282c34 25%, rgb(80, 108, 185)); */
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}



.plug-logo {
  display: flex;
  width: 200px;
  height: 200px;

  /* margin-bottom: 10px; */
  /* background-color:rgba(0, 0, 0, 0.2) */
}

.splash {
  position: absolute;
  top: 13%;
  left: 20%;
  right: 0;
  bottom: 0;
}

.searchform {
  display: flex;
  justify-content: center;
}
.song-page-container{

}
/* .searchform-container {
  justify-content: center;
  display: flex;
  margin-top: 10px;

} */

.App-search {
  background-repeat: repeat-y;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

li {
  list-style: none;
}

.credits {
  font-size: small;
}

.even-credit {
  font-size: small;
  font-weight: bold;
  
}

.odd-credit {
  font-size: small;
  color: rgb(120, 107, 107);
}

.credits-container {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column; */
}

ul div {
  font-size: calc(5px + 2vmin);
  font-weight: 800;
  color: rgb(210, 210, 210);
}

hr {
  margin: 10px;
}

.loadmore {
  display: flex;
  justify-content: center;
}

/* .song-info {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10px;
} */

/* .result-name {
  font-weight: bold;
  color: rgb(179, 199, 218);
}

.result-album {
  color: rgb(163, 164, 166);
  font-size: calc(2px + 2vmin);
}

.result-image {
  display: flex;
  width: 100px;
  height: 100px;
  object-fit: cover;
} */

/* .release-date {
  font-size: calc(2px + 1.5vmin);
  font-weight: 400;
  color: rgb(210, 210, 210);
} */


/* div h2 {
  display: flex;
  justify-content: center;
  align-items: center;
} */

#tableTitle {
  display: flex;
  justify-content: center;
}


.fader-container {
  display: flex;
  align-items: flex-end;
  height: 150px;
}

.fader-scale {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 12px;
  height: 80%;
  margin-right: 5px;
  font-size: 10px;
}

.fader-slider-container {
  width: 20px;
  height: 80%;
  background-color: #ccc;
  position: relative;
}

.fader-slider {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgb(1, 167, 1), rgb(47, 255, 0), rgb(238, 255, 0));

}




@media (max-width: 900px) {
  .splash {
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 600px) {
  .card-buttons {
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: flex-end;
  }

  .pie-container {
    display: flex;
    width: 700px;
    /* height: 200px; */
  }
  .splash {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 0;
    bottom: 0;
  }

}
@media (orientation: landscape) and (max-width: 900px) {
  .splash {
    position: absolute;
    top: 20%;
    right: 0;
    bottom: 0;
    font-size: 12px;
  }
}