
a {
  text-decoration: none;
  color: rgb(236, 236, 236);
  /* font-size: medium; */
}


.searchform{
  display: flex;
  justify-content: center;
  margin-top: 10px; 
}
.message{
  display: flex;
  
  /* height: 30vh; */
}


.App-search {
  /* background-color: #282c34; */
  background-image: repeating-linear-gradient(140deg, rgb(109, 97, 168), #282c34 25%, rgb(80, 108, 185));
  background-repeat: repeat-y;
  /* background-attachment: fixed; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

li {
  list-style: none;
}

.credits {
  font-size: small;
}

.even-credit {
  font-size: small;
  font-weight: bold;
  color: rgb(158, 140, 140);
}

.odd-credit {
  font-size: small;

}



ul div {
  font-size: calc(5px + 2vmin);
  font-weight: 800;
  color: rgb(210, 210, 210);
  width: 100vw;
  /* margin-left: 5%; */
  /* padding: 5px; */
  /* background-color: #282c34; */
  /* margin-right: 10px; */
}
hr {
  color: white;
  width:95%;
 /* margin: none; */
 margin-left:0;
 margin-right: 0;

}
.loadmore{
  display: flex;
  justify-content: center;
}

.main-info{
  display: flex;
  /* justify-content: center; */
  flex-direction: row-reverse;
  /* width: 500px; */
}
.song-info{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10px;
}
.result-name {
  font-weight: bold;
  color: rgb(179, 199, 218);
}

.result-album {
  color: rgb(163, 164, 166);
  font-size: calc(2px + 2vmin);
}
.result-image {
  display: flex;
  width: 100px;
  height: 100px;
  object-fit: cover;
  /* border-radius: 50%; */
}

.release-date {
  font-size: calc(2px + 1.5vmin);
  font-weight: 400;
  color: rgb(210, 210, 210);
}
.audio-features{
  display: flex;
  flex-direction: column;
  font-size: 15px;
  width:300px;
  margin-top: 10px;
}
.play-star{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* margin-bottom: 10px; */
}
.more-main{
  margin-bottom: 10px;

}
.fav-main{
  display: flex;
  width: 100vw;
  justify-content: center;
}
/* .album-cell{
  width: 100px;
  height: 100px
} */
.fav-info-container{
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}
.fav-info{
  font-size: small;
}
div h2{
  display: flex;
  justify-content: center;
  align-items: center;
}
#tableTitle{
  display: flex;
  justify-content: center;
}



/* .user-splash {
  color: rgb(225, 223, 84);
  font-size: medium;
  display: flex;

  align-items: center;
} */

/* header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-size: calc(20px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

/* .App { */
  /* text-align: center; */
/* } */


/* nav {

  background-color: color-mix(in srgb, rgb(24, 24, 107) 55%, rgb(121, 121, 121));

  border: 1px solid rgb(255, 187, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-between;
  font-size: calc(15px + 2vmin);
  color: white;

} */

/* .favs {
  font-size: medium;
  display: flex;
  align-items: center;
} */

/* .favs-link {
  margin-right: .5em;
  font-size: large;
  display: flex;
  align-items: center;
  color: #d6e252;
  text-decoration: underline;
} */

/* .LOGO {
  margin-left: .5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(236, 236, 236);
} */



/* .search-id { */
/* 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, ;
  font-weight: bold;
  color: rgb(20, 20, 20);
  display: flex;
  justify-content: center;
  border-radius: 4px;
  border-color: #0b0b0b;
  background-color: rgb(128, 186, 111);
  margin-bottom: .7em; */

/* } */
/* .signup {
  margin-right: .5em;
  font-size: large;
  display: flex;
  align-items: center;
  color: rgb(241, 237, 235);
  text-decoration: underline;
} */

/* .form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */

/* Add this to your CSS file */
/* .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
} */

/* .modal-content {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
} */

/* .modal button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
} */
